{% load staticfiles %}

<html>

<head>
    <title>Questions</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'global/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet" type="text/css"/>

    <style type="text/css">
        .questions li {
            list-style: none;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Loans PH</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="javascript:;">Questions</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'questions' %}" method="POST" id="info-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="id_lat" name="latitude" value="" />
                    <input type="hidden" id="id_long" name="longitude" value="" />
                    <input type="hidden" id="id_screen_size" name="screensize" value="" />
                    <input type="hidden" id="id_flash" name="flash" value="" />
                    <input type="hidden" id="id_cookies" name="cookies" value="" />
                    <input type="hidden" id="id_timezone" name="timezone" value="" />
                    <ul class="questions">
                        {% for question in questions %}
                            <li>
                                <div class="form-group">
                                    <label>{{ question.text}}</label>
                                    {% if question.question_type == question.TYPE_PLAIN_TEXT %}
                                        <input type="text" id="qid-{{ question.id }}" name="qid-{{ question.id }}" class="{% if question.is_ignored %}inspectletIgnore{% endif %} {% if question.is_sensitive %}inspectlet-sensitive{% endif %} form-control" />
                                    {% endif %}
                                    {% if question.question_type == question.TYPE_TEXT_FIELD %}
                                        <textarea id="qid-{{ question.id }}" name="qid-{{ question.id }}" class="{% if question.is_ignored %}inspectletIgnore{% endif %} {% if question.is_sensitive %}inspectlet-sensitive{% endif %} form-control"></textarea>
                                    {% endif %}
                                    {% if question.question_type == question.TYPE_IMAGE %}
                                        <input type="file" id="qid-{{ question.id }}" name="qid-{{ question.id }}" class="{% if question.is_ignored %}inspectletIgnore{% endif %} {% if question.is_sensitive %}inspectlet-sensitive{% endif %} form-control" />
                                    {% endif %}
                                </div>
                            </li>

                            {% if forloop.last %}
                                <input type="hidden" name="count" value="{{ forloop.counter }}" />
                            {% endif %}
                        {% endfor %}
                    </ul>

                    <center>
                        <input type="submit" class="btn btn-primary" />
                    </center>
                </form>
            </div>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'web/js/nav_infos.js' %}"></script>
    <script src="{% static 'web/js/other_infos.js' %}"></script>
    <!-- Begin Inspectlet Embed Code -->
    <script type="text/javascript" id="inspectletjs">
        window.__insp = window.__insp || [];
        __insp.push(['wid', 1893710609]);
        (function() {
        function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
        if (window.attachEvent) window.attachEvent('onload', __ldinsp);
        else window.addEventListener('load', __ldinsp, false);
        })();
        // add identifiers
        __insp.push(['tagSession', {email: '{{ request.user.email }}'}]);
        __insp.push(['pageUrl', 'http://mark.best.ph/questions']);
    </script>    
    <!-- End Inspectlet Embed Code -->

    <!-- Begin Inspectlet Embed Code Local-->
    {% comment %}
    <script type="text/javascript" id="inspectletjs_local">
        window.__insplocal = window.__insplocal || [];
        __insplocal.push(['wid', 12345678]);
        (function() {
        function __ldinsplocal(){var insplocal = document.createElement('script'); insplocal.type = 'text/javascript'; insplocal.async = true; insplocal.id = "inspsync_local"; insplocal.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://loans.local/static/web/js/inspect.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insplocal, x); }
        if (window.attachEvent) window.attachEvent('onload', __ldinsp);
        else window.addEventListener('load', __ldinsplocal, false);
        })();

        // add identifiers
        __insplocal.push(['tagSession', {email: '{{ request.user.email }}'}]);
        __insplocal.push(['pageUrl', 'http://loans.local/questions']);
    </script>
    {% endcomment %}
    <!-- End Inspectlet Embed Code -->

    <!-- Geolocation -->
    <script>
        var id_lat = document.getElementById("id_lat");
        var id_long = document.getElementById("id_long");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
        }

        function showPosition(position) {
            id_lat.value = position.coords.latitude;
            id_long.value = position.coords.longitude;
        }

        $(function() {
            getLocation();
        });
    </script>

    <!-- nav infos -->
    <script type="text/javascript">
        var id_screen_size = document.getElementById("id_screen_size");
        var id_flash = document.getElementById("id_flash");
        var id_timezone = document.getElementById("id_timezone");
        $(function() {
            id_screen_size.value = jscd.screen;
            id_flash.value = jscd.flashVersion;
            id_cookies.value = jscd.cookies;
            id_timezone.value = fingerprint_timezone();
        });
    </script>

    <script type="text/javascript">
        $('#info-form').on('submit', function() {
            var no_errors = true;

            {% for question in questions %}
                {% if question.is_required %}
                    if($('#qid-{{ question.id }}').val() == '') {
                        no_errors = false;
                    }
                {% endif %}
            {% endfor %}

            return no_errors;
        });
    </script>
</body>
</html>