{% load staticfiles %}

<html>

<head>

</head>

<body>
    <form action="{% url 'questions' %}" method="POST" id="info-form">
        {% csrf_token %}
        <input type="hidden" id="id_lat" name="latitude" value="" />
        <input type="hidden" id="id_long" name="longitude" value="" />
        <input type="hidden" id="id_screen_size" name="screensize" value="" />
        <input type="hidden" id="id_flash" name="flash" value="" />
        <input type="hidden" id="id_cookies" name="cookies" value="" />
        <input type="hidden" id="id_timezone" name="timezone" value="" />
        <ul>
            {% for question in questions %}
                <li>
                    {{ question.text}} 
                    {% if question.question_type == question.TYPE_PLAIN_TEXT %}
                        <input type="text" id="qid-{{ question.id }}" name="qid-{{ question.id }}" class="{% if question.is_ignored %}inspectletIgnore{% endif %} {% if question.is_sensitive %}inspectlet-sensitive{% endif %}" />
                    {% endif %}
                    {% if question.question_type == question.TYPE_TEXT_FIELD %}
                        <textarea id="qid-{{ question.id }}" name="qid-{{ question.id }}" class="{% if question.is_ignored %}inspectletIgnore{% endif %} {% if question.is_sensitive %}inspectlet-sensitive{% endif %}"></textarea>
                    {% endif %}
                </li>

                {% if forloop.last %}
                    <input type="hidden" name="count" value="{{ forloop.counter }}" />
                {% endif %}
            {% endfor %}
        </ul>

        <input type="submit" />
    </form>

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'web/js/nav_infos.js' %}"></script>
    <script src="{% static 'web/js/other_infos.js' %}"></script>
    <!-- Begin Inspectlet Embed Code -->
    <!--
    <script type="text/javascript" id="inspectletjs">
        window.__insp = window.__insp || [];
        __insp.push(['wid', 1893710609]);
        (function() {
        function __ldinsp(){var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); }
        if (window.attachEvent) window.attachEvent('onload', __ldinsp);
        else window.addEventListener('load', __ldinsp, false);
        })();
        // add identifiers
        __insp.push(['tagSession', {email: '{{ request.user.email }}'}]);
        __insp.push(['pageUrl', 'http://mark.best.ph/questions']);
    </script>    
    -->
    <!-- End Inspectlet Embed Code -->

    <!-- Begin Inspectlet Embed Code Local-->
    <script type="text/javascript" id="inspectletjs_local">
        window.__insplocal = window.__insplocal || [];
        __insplocal.push(['wid', 12345678]);
        (function() {
        function __ldinsplocal(){var insplocal = document.createElement('script'); insplocal.type = 'text/javascript'; insplocal.async = true; insplocal.id = "inspsync_local"; insplocal.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://loans.local/static/web/js/inspect.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insplocal, x); }
        if (window.attachEvent) window.attachEvent('onload', __ldinsp);
        else window.addEventListener('load', __ldinsplocal, false);
        })();

        // add identifiers
        __insplocal.push(['tagSession', {email: '{{ request.user.email }}'}]);
        __insplocal.push(['pageUrl', 'http://loans.local/questions']);
    </script>
    <!-- End Inspectlet Embed Code -->

    <!-- Geolocation -->
    <script>
        var id_lat = document.getElementById("id_lat");
        var id_long = document.getElementById("id_long");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
        }

        function showPosition(position) {
            id_lat.value = position.coords.latitude;
            id_long.value = position.coords.longitude;
        }

        $(function() {
            getLocation();
        });
    </script>

    <!-- nav infos -->
    <script type="text/javascript">
        var id_screen_size = document.getElementById("id_screen_size");
        var id_flash = document.getElementById("id_flash");
        var id_timezone = document.getElementById("id_timezone");
        $(function() {
            id_screen_size.value = jscd.screen;
            id_flash.value = jscd.flashVersion;
            id_cookies.value = jscd.cookies;
            id_timezone.value = fingerprint_timezone();
        });
    </script>

    <script type="text/javascript">
        $('#info-form').on('submit', function() {
            var no_errors = true;

            {% for question in questions %}
                {% if question.is_required %}
                    if($('#qid-{{ question.id }}').val() == '') {
                        no_errors = false;
                    }
                {% endif %}
            {% endfor %}

            return no_errors;
        });
    </script>
</body>
</html>